force-app/main/default/flows/PDPFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_L</name>
        <label>Update L</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>Flow_update_lead</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finish_screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>mail.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>experience</name>
            <value>
                <elementReference>GetSecondQuestion_Question_Answer_c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fName</name>
            <value>
                <elementReference>Names.firstName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lName</name>
            <value>
                <elementReference>Names.lastName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mascot</name>
            <value>
                <elementReference>GetThirdQuestion_Question_Answer_c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>primarySkill</name>
            <value>
                <elementReference>GetFirstQuestion_Question_Answer_c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <dynamicChoiceSets>
        <description>Set of answer for the first question</description>
        <name>FirstQuestionAnswersSet</name>
        <dataType>String</dataType>
        <displayField>Question_Answer__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Answer_1</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>PDPQuestionnaire__mdt</object>
        <valueField>Question_Answer__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Answers to second questions from custom metadata</description>
        <name>SecondQuestionAnswersSet</name>
        <dataType>String</dataType>
        <displayField>Question_Answer__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Answer_2</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>PDPQuestionnaire__mdt</object>
        <valueField>Question_Answer__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Answers to the third question from custom metadata</description>
        <name>ThirdQuestionAnswersSet</name>
        <dataType>String</dataType>
        <displayField>Question_Answer__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Answer_3</stringValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>PDPQuestionnaire__mdt</object>
        <valueField>Question_Answer__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>PDPFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>PDPFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>First question from custom metadata</description>
        <name>GetFirstQuestion</name>
        <label>GetFirstQuestion</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSecondQuestion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question_1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PDPQuestionnaire__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Second question from custom metadata</description>
        <name>GetSecondQuestion</name>
        <label>GetSecondQuestion</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetThirdQuestion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question_2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PDPQuestionnaire__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Third question from custom metadata</description>
        <name>GetThirdQuestion</name>
        <label>GetThirdQuestion</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Questionnaire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question_3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PDPQuestionnaire__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Finish_screen</name>
        <label>Finish screen</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;You data successfully stored!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Try one more time!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Questionnaire</name>
        <label>Questionnaire</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_L</targetReference>
        </connector>
        <fields>
            <name>mail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Names</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>GetFirstQuestion_Question_Answer_c</name>
            <choiceReferences>FirstQuestionAnswersSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!GetFirstQuestion.Question_Answer__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GetSecondQuestion_Question_Answer_c</name>
            <choiceReferences>SecondQuestionAnswersSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!GetSecondQuestion.Question_Answer__c}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GetThirdQuestion_Question_Answer_c</name>
            <choiceReferences>ThirdQuestionAnswersSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!GetThirdQuestion.Question_Answer__c}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DP</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Control__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Depend__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Controlling field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Depending field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetFirstQuestion</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
</Flow>
